name: CI

on:
  push:
    branches: [ main ]
  
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        runner: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Run unit tests
        run: |
          python -m unittest test_string_utils.py -v
